{{ define "task" }}
	<h3>{{ .Name }}</h3>
	<p>{{ .Desc }}</p>

	<label for=completed>Completed:</label>
	<input type=checkbox {{if .Completed }} checked {{end}}>
{{ end }}

{{ block "tasks" . }}
	{{ range $key, $task := . }}
	<div 
		id="{{ $key }}"
		hx-patch="/task/{{ $key }}?toggle=true"
		hx-trigger="change"
		hx-swap=none>

		{{ template "task" . }}
		<button
			class="delete"
			hx-delete="/task/{{ $key }}">
			Delete
		</button>
		<button
			hx-get="/task/{{ $key }}"
			hx-swap=innerHTML
			hx-target="#edit">

			Edit
		</button>
	</div>
	{{ end }}
{{ end }}
