<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
	</head>
	<body>
		<form
			hx-get="/task"
			hx-trigger="input changed delay:200ms, change from:.filter, load, close from:#add, click[event.target.classList.contains('delete')] from:body, click from:#refresh"
			hx-target="#tasklist"
			hx-swap="innerHTML">

			<h3>Search Tasks</h3>
			<input type=text name="name" placeholder="Start typing to search" onkeydown="return event.key != 'Enter';">

			<div class=filter>
				<input type=radio name=completed value=all id=all>
				<label for=all>All</label>
				<input type=radio name=completed value=true id=completed>
				<label for=completed>Completed</label>
				<input type=radio name=completed value=false id=incomplete>
				<label for=incomplete>Incomplete</label>
			</div>
		</form>
		<button onclick="add.showModal()">
			Add Task
		</button>
		<button id=refresh>Refresh</button>
		<div id="tasklist">Placeholder</div>
		<dialog id="add">
			<form 
				hx-post="/task"
				hx-swap="none"
				hx-on::after-request="if(event.detail.successful) { add.close() }">

				<fieldset>
					<legend>Add A Task</legend>
					<label for=name>Name:</label>
					<input type=text name=name placeholder="Give the task a name" required>
					<br>
					<label for=desc>Description:</label>
					<input type=text name=desc placeholder="Task description">
				</fieldset>
				<br>

				<button onclick="add.close()">Close</button>
				<button type="submit" >Submit</button>
			</form>
		</dialog>

	</body>
</html>
