<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
		<link href="./index.css" rel="stylesheet">
	</head>
	<body>
		<form
			hx-get="/task"
			hx-trigger="input changed delay:200ms, change from:.filter, load, close from:dialog, click[event.target.classList.contains('delete')] from:body, click from:#refresh"
			hx-target="#tasklist"
			hx-swap="innerHTML">

			<h3>Todo App</h3>
			<input 
				type=text 
				name="name" 
				placeholder="Start typing to search"
				class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
				onkeydown="return event.key != 'Enter';">

			<div class=filter>
				<input type=radio name=completed value=all id=all>
				<label for=all>All</label>
				<input type=radio name=completed value=true id=completed>
				<label for=completed>Completed</label>
				<input type=radio name=completed value=false id=incomplete>
				<label for=incomplete>Incomplete</label>
			</div>
		</form>
		<div class="pb-4">
			<button 
				class="w-1/4 max-w-30 rounded-md border border-slate-800 bg-slate-800 px-4 py-2 text-center font-sans text-sm font-medium text-slate-50 hover:border-slate-700 hover:bg-slate-700 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none ml-auto"
				onclick="add.showModal()">

				Add Task
			</button>
			<button
				class="w-1/4 max-w-24 rounded-md border border-slate-800 bg-slate-800 px-4 py-2 text-center font-sans text-sm font-medium text-slate-50 hover:border-slate-700 hover:bg-slate-700 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none ml-auto"
				id=refresh>

				Refresh
			</button>
		</div>
		<div id="tasklist" class="flex flex-row gap-4">Placeholder</div>
		<dialog id="add">
			<form 
				hx-post="/task"
				hx-swap="none"
				hx-on::after-request="if(event.detail.successful) { add.close() }">

				<fieldset>
					<legend>Add A Task</legend>
					<label for=name>Name:</label>
					<input type=text class="border-b" name=name placeholder="Give the task a name" required>
					<br>
					<label for=desc>Description:</label>
					<textarea type=text class="border-b w-full" name=desc placeholder="Task description"></textarea>
				</fieldset>
				<br>
				<div class="flex justify-end w-full gap-2">
					<button type=button onclick="add.close()" class="w-1/4 max-w-24 rounded-md border border-slate-800 bg-slate-800 px-4 py-2 text-center font-sans text-sm font-medium text-slate-50 hover:border-slate-700 hover:bg-slate-700 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none ml-auto">Close</button>
					<button type="submit" class="w-1/4 max-w-24 rounded-md border border-slate-800 bg-slate-800 px-4 py-2 text-center font-sans text-sm font-medium text-slate-50 hover:border-slate-700 hover:bg-slate-700 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">Submit</button>
				</div>
			</form>
		</dialog>
		<dialog id="edit" hx-on::after-swap="this.showModal()">Edit A Task</dialog>

	</body>
</html>
